<html>
<head>
	<title>Admin</title>
	<meta charset="UTF-8">

	<link rel="shortcut icon" href="favicon.ico"/>

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/materialdesignicons.min.css">

	<!-- libs -->
	<script src="js/libs/angular.min.js"></script>
	<script src="js/libs/jquery.min.js"></script>
	<script src="js/libs/bootstrap.min.js"></script>
	<script src="js/libs/socket.io.js"></script>


	<!-- ours -->
	<script src="js/server.config.js"></script>
	<script src="js/logger.js"></script>

<style>
.instance .mono {
	font-family: monospace;
	font-size: 118%;
}
.instance.dead {
	opacity: 0.5;
	background: #f6f6f6;
}
.instance.activity {
	background: #fafffa;
}

.instance .destroy {
	cursor: pointer;
	visibility: hidden;
}
.instance.dead .destroy {
	visibility: visible;
}

.user .remove {
	cursor: pointer;
	visibility: hidden;
}
.user:hover .remove {
	visibility: visible;
}
</style>
<script>
var console = new Logger('admin');

var url = location.protocol + "//" + server.hostname + ":" + server.port + "/admin";
var socket = io.connect(url);

var app = angular.module('administration', []);

app.controller('MainController', [
	'$scope',
	function ($scope) {
		$scope.instances = [];

		$scope.isOnline = isOnline;
		$scope.isDead = isDead;
		$scope.isActive = isActive;

		$scope.kickUserFromInstance = function (instance, user) {
			if(!confirm("Really kick " + user.nick + "?")) {
				return;
			}
			socket.emit("remove user from instance", {
				token: instance.token,
				secret: user.secret,
			}, function(err) {
				console.error(err);
			});
		};

		$scope.destroyInstance = function (instance) {
			if(!confirm("Really destroy instace "+instance.token+"?")) {
				return;
			}
			socket.emit("destroy instance", {
				token: instance.token,
			}, function(err) {
				console.error(err);
			});
		};

		socket.emit("get instances", null, handleInstances);
		socket.on("instances", handleInstances);
		socket.on("instance", handleInstance);

		function handleInstances(instances) {
			$scope.instances = Object.keys(instances).map(key => instances[key]); // obj to array
			$scope.$apply();
			console.log('instances', $scope.instances);
		}

		function handleInstance(instance) {
			var updated = $scope.instances.some(function (old, i, arr) {
				if (old.token === instance.token) {
					arr[i] = instance;
					return true;
				}
			});
			if (!updated) {
				$scope.instances.push(instance);
			}
			$scope.$apply();
		}

		function isOnline (instance) {
			return instance.users.some( user => user.online );
		}

		function isDead (instance) {
			return instance.users.length === 0 || instance.users.length === 1 && instance.users[0].nick === undefined && !instance.users[0].online;
		}

		function isActive (instance) {
			return isOnline(instance);
		}
	}
]);


</script>

</head>
<body ng-app="administration" ng-controller="MainController">
	<div class="container">
		<h1>TeamDraw Admin</h1>
		<menu class="menu">
			<a href="/" target="_blank"><span class="mdi mdi-file-outline"></span>new session</a>
		</menu>
		<table class="table">
			<thead>
				<tr>
					<th>Created</th>
					<th>Token</th>
					<th>Actions</th>
					<th>Users</th>
				</tr>
			</thead>
			<tr ng-repeat="instance in instances | orderBy : 'creationTime' : true" ng-class="{'dead': isDead(instance), 'activity': isActive(instance)}" class="instance">
				<td>{{instance.creationTime | date : "yyyy-MM-dd  HH:mm"}}</td>
				<td class="mono">
					<a href="{{location.origin + '/#' + instance.token}}" target="_blank">
						{{instance.token}}
					</a>
				</td>
				<td>{{instance.actionsLength}}</td>
				<td>
					<div ng-repeat="user in instance.users" class="user">
						<span class="mdi" ng-class="{ 'mdi-checkbox-blank-circle': user.online, 'mdi-checkbox-blank-circle-outline': !user.online }"></span>
						{{user.rights}} | {{user.nick}}
						<span class="remove mdi mdi-close-circle" ng-click="kickUserFromInstance(instance, user)" title="kick user"></span>
					</div>
				</td>
				<td>
					<span class="destroy mdi mdi-delete-forever" ng-click="destroyInstance(instance)" title="destroy instance"></span>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>