html, body {
	height: 100%;
	overflow: hidden;
}

#area {
	width: 100%;
	height: 100%;
	background: #eee;
}

#bars {
	position: absolute;
	top: 0;
	width: 100%;
}

#top {
	margin: 5px;
	height: 0;

}

#menubutton, #sharebutton {
	width: 100px;
	/*height: 40px;*/
	padding: 0.75em 0.5em;
	background: orange;
	text-align: center;
}

#menubutton {
	float: left;
}

#sharebutton {
	float: right;
}


#menu {
	float: left;
	overflow: hidden;
	text-align: center;
	padding: 0.75em 0;
	width: 0;
	background: orange;
}

#toolbarholder {
	clear: both;
	float: left;
	position: relative;
}
#toolbar {
	width: 100px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.75em 0.5em;
}

#userbarholder {
	clear: both;
	float: right;
	position: relative;
}
#userbar {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.75em 0.5em;
}


#toolbar .tool {
	width: 32px;
	height: 32px;
	background: #bbb;
	margin: 6px;
}

.box {
	clear:; both;
}

.btn {
	border: 0;
}