html, body {
	height: 100%;
	overflow: hidden;
}

#alert {
	position: fixed;
	left: 0;
	bottom: 0;
	margin-left: 8px;
}

#workarea {
	width: 100%;
	height: 100%;
	background: #eee;
}

#canvas {
	height: 100%;
	width: 100%;
	display: block;
}

#bars {
	position: absolute;
	top: 0;
	width: 100%;
	height: 0;
}

.statusbar {
	width: 100%;
	position: absolute;
	bottom: 0;
	background: rgba(0,0,0,0.1);
	padding: 0.5em 1em;
}

#top {
	margin: 8px;
	height: 0;

}

#menubutton, #sharebutton {
	width: 100px;
	padding: 10px 1px;
	text-align: center;
}

#menubutton {
	float: left;
}

#sharebutton {
	float: right;

}


#menu {
	float: left;
	overflow: hidden;
	text-align: center;
	padding: 6px 0px;
	height: 40px;
	width: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background: #337AB7;
}

#toolbar {
	clear: left;
	float: left;
	width: 50px;
	height: 500px;
	margin-top: 8px;
	position: relative;
	overflow:hidden;
	margin-left: 8px;
}
#toolbarbutton {
	width: inherit;
}

#toolmenu {
	width: inherit;
}

#toolmenu.btn-group-vertical > .btn:first-child:not(:last-child) {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.toolbarbutton-open {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.spectrum-custom {
	background-color: #5BC0DE;
	border-radius: 4px;
	border-color: #337AB7
}

#userbar {
	clear: right;
	float: right;
	width: 100px;
	height: 500px;
	margin-top: 8px;
	position: relative;
	overflow: hidden;
	margin-right: 8px;
}
#userbarbutton {
	width: inherit;
}

#usermenu {
	width: inherit;
	background: #5BC0DE;
}

#usermenu.btn-group-vertical > .btn:first-child:not(:last-child) {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	overflow: visible;
}

.userbarbutton-open {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}


#button-wrapper {
	margin: auto;
	width: 4000px;
}

#button-wrapper .btn {
	float: left;
	overflow: hidden;
	width: auto;
	margin: 0px 5px;
	color: #000;
}

#ghost-colorpicker {
	float: left;
	position: absolute;
	left: 20px;
	top: 300px;
}

.mySelf {
	font-weight: bold;
}

.box {
	clear: both;
}

.btn {
	border: 0;
}

.btn-sep {
	border-bottom: 4px solid #337AB7;
}

.btn-info-c {
	color: #000;
}

.btn-info-c:hover {
	color: #000;
}

.btn-menubutton-open {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.btn-userlistbutton-open {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.modal-header h3 {
	margin: 0;
}

.sp-top-inner {
	margin-top: 5px;
}
